.slanted-div {
  width: 110vw;
  margin: 0rem -1rem;
  transform: rotate(357deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#section7 {
  width: 100%;
  padding: 1%;
  clear: both;
  background-color: #F3F3F3;
  margin: -1.5rem auto;
  color: #202229;
  font-family: 'Switzer-Extralight';
}

#section7 h1 {
  transform: rotate(3deg); 
  margin: 1rem auto;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 2em;
  font-family: 'Switzer-Extrabold';
}

/* Table styles */
table {
  transform: rotate(3deg); 
  width: 110vw;
  border-collapse: collapse;
  margin: 1rem auto;
  margin-left: 1%;
  margin-bottom: 18%;
}

td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 5%;
}

td[colspan="3"] {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin-right: 5%;
}

.boldened{
  font-family: 'Switzer-Bold';
}

td[class='highlighted']{
   background-color: #E8E8E8;
}
@media only screen and (max-width: 600px) {
td[class='del']{
  display: none;
}
}
@media only screen and (min-width: 1000px) {
  
    #section7 h1 {
      font-size: 2.5em;
    }
  
    table {
      margin-left: -1%;
      margin-bottom: 8%;
    }
  
    td {
      padding: 2%;
    }

    img {
      margin-right: 7%;
    }
}
